@model Provider.Models.Tool

@{
    ViewBag.Title = Model.Name;
}

<h2>@ViewBag.Title.</h2>

@Html.Raw(Model.Description)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>Are you sure you want to delete this tool?</h4>
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}
