@model Consumer.Models.DeleteAssignmentModel

@{
    ViewBag.Title = Model.Name;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Delete this assignment.</h2>
</hgroup>

@using (Html.BeginForm()) {
    
    <p>
        <strong>Are you sure you want to delete this assignment?</strong>
    </p>

    <p>
        <input type="submit" value="Delete" />
        @Html.ActionLink("Back to Course", "Details", "Course", new { id = Model.CourseId })
    </p>
}
