@model Consumer.Models.LaunchModel

@{
    ViewBag.Title = Model.AssignmentTitle;
    Layout = "~/Views/Shared/_LayoutLaunch.cshtml";
}

<a href="@Model.ReturnUrl">Back to @Model.CourseTitle</a>

<div id="wrap">
    @if (Model.IsLtiLink)
    {
        <iframe class="content" src="@Url.Action("LtiLaunch", new { id = Model.AssignmentId })"></iframe>
    }
    else
    {
        <iframe class="content" src="@Model.Url"></iframe>
    }
</div>
