@model Consumer.Models.Course

@{
    ViewBag.Title = Model.Title;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Delete this course.</h2>
</hgroup>

@using (Html.BeginForm()) {
    <p>
        <strong>Are you sure you want to delete this course?</strong>
    </p>
    <p>
        <input type="submit" value="Delete" />
        @Html.ActionLink("Back to Details", "Details", new { id = Model.CourseId }, new { @class = "button" })
    </p>
}
