@model IEnumerable<inBloomLibrary.Models.Section>

@{
    ViewBag.Title = "inBloom Sections";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>A list of your inBloom course sections.</h2>
</hgroup>

<p>
    If you import an inBloom section, a corresponding course will be created in this application
    with an assignment corresponding to each gradebook entry, and a student account will be
    created and enrolled for each inBloom student enrolled in the section.
</p>

@if (Model.Count() == 0)
{
    <p>
        No sections found.
    </p>
}
else
{
    <table>

    @foreach (var item in Model) {
        @Html.Action("ImportInBloomSection", new { sectionId = item.Id, name = item.UniqueSectionCode })
    }

    </table>
}

<p>
    @Html.ActionLink("Back to Courses", "Index", routeValues: null, htmlAttributes: new { @class = "button" })
</p>
