@model IEnumerable<Consumer.Models.Course>

@{
    ViewBag.Title = "Home";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Home Page</h1>
            </hgroup>
            <p>
                To learn more about LTI visit 
                <a href="http://developers.imsglobal.org/" title="IMS Global Learning Consortium Website">http://developers.imsglobal.org/</a>.
                The page features <mark>tutorials, and samples</mark> to help you get the most from LTI.
                If you have any questions about LTI visit
                <a href="http://developers.imsglobal.org/forum.html" title="IMS Global Learning Consortium Developer Forum">the IMS developers forum</a>.

                To learn more about inBloom visit
                <a href="http://www.inbloom.org" title="inBloom Website">http://www.inbloom.org</a>.
                If you have any questions about integrating with inBloom visit
                <a href="http://www.inbloom.org/sandbox" title="inBloom Developer Site">the inBloom developer site</a>.
            </p>
        </div>
    </section>
}
<ol class="round">
    <li class="one">
        <h5>Enroll in a Course</h5>
        @if (!Request.IsAuthenticated)
        {
            <text>Register or login and enroll</text>
        }
        else
        {
            <text>Enroll</text>
        }
        in a course. Courses are simple collections of assignments. 
        Assignments are links to content or tools provided by LTI Tool Providers.
    </li>

    <li class="two">
        <h5>Launch an Assignment</h5>
        Launch an assignment to see the content or tool at the other end. Try
        changing your role (teacher or student) in your Profile and try again.
        Many Tool Providers will show a different user experience depending on your role.
    </li>

    <li class="three">
        <h5>Check out the source code</h5>
        All of the source code for this application is available on <a target="_blank" href="https://ltisamples.codeplex.com/">CodePlex</a>.
    </li>
</ol>

@if (Request.IsAuthenticated)
{
    if (Model.Count() == 0)
    {
        <h3>Courses</h3>
        <p>There are no courses yet.</p>
    }
    else
    {
        <table>
            <tr>
                <th>Course</th>
                <th>Instructor</th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "Details", "Course", new { id=item.CourseId }, null)
                </td>
                <td>
                    @item.Instructor.FullName
                </td>
            </tr>
        }

        </table>
    }
    if (inBloomLibrary.inBloomSandboxClient.GetCurrentInBloomAccount() != null)
    {
        <p>
            @Html.ActionLink("Import inBloom Sections", "ImportInBloomSections", "Course", null, new { @class = "button" })
        </p>
    }
}
else
{
    <h3>Courses</h3>
    <p>Please register or log in to see the list of available courses.</p>
}
