@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div>
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <table>
        <tr>
            <td>Action</td>
            <td>@Model.ActionName</td>
        </tr>
        <tr>
            <td>Controller</td>
            <td>@Model.ControllerName</td>
        </tr>
        <tr>
            <td>Exception</td>
            <td>@Model.Exception.Message<br />@Model.Exception.StackTrace</td>
        </tr>
    </table>
</div>
